

body{

  background: rgb(32,138,221) !important;
  background: linear-gradient(90deg, rgba(32,138,221,1) 10%, rgba(31,199,164,1) 70%)  !important; 
    width: 60% !important;
    margin: auto !important;
    text-align: center !important;
    padding-top: 7% !important;
}

.input{
  margin-right: 5%;
}
.item{
  margin-right: 3%;
  margin-bottom: 2%;
}

.b1{
  margin-left: 2%;
  position: absolute;
  right: 20%;
}
.b2{
  position: absolute;
  right: 15%;
}


.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.list{
  margin: 7%;
}
.form{
  margin-bottom: 5%;
}

li{
  list-style: disc;
  text-align: left;
}

.side{
  position: fixed;
  right: 15%;
}

